

#chart1{
    width: 30%;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
#chart2{

    width: 50%;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;;
}