{% extends 'base.html' %} 

{% block title %} Contact {% endblock %} 

{% block links %}

<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/contact.css">


{% endblock %}



{% block content %}
<div class="container">


    <h1> We'd love to talk you </h1> 
    <h2> contact us on: </h2> 
    <p> Phone:0723456789</p>
    <p> Email:mnmisky@gmail.com </p>
    <p> Instagram: @devpro_inc</p>
    <p> Facebook:DevPro Incorporated</p>
    <p> Twitter:DevPro_inc</p>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}