{% extends 'base.html' %} 

{% block title %} Contact {% endblock %} 

{% block links %}

<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/contact.css">
<style>
    /*Contact sectiom*/
.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
    padding-top: 1px;
  
  }
  #contact{
      
    font-family: 'Teko', sans-serif;
   
    background:lightslategray; /* fallback for old browsers */
    
    color : #fff;    
  }
  .contact-section{
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
  }
 
  .form-control{
    
    color: #080808;
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .submit{
    font-size: 1.1em;
    float: right;
    background-color: transparent;
    color: #fff;
  
  }
  #sidebar{
	float:right;
	width:50%;
	color:#fff;
    padding:0px;
    padding:0px ;
    box-sizing: border-box;
    color:black ;
}

#main{
	float:left;
	width:50%;
	padding:0 30px;
    box-sizing: border-box;
    color:black ;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
</style>


{% endblock %}



{% block content %}

<img src="../static/images/contact.jpg" alt="Contact Us" style="width:500px;height:150px;" class="center">

<div class="jumbotron jumbotron-fluid">
    <section id="showcase">
        <div class="container">
            <h1> We'd love to get in touch with you :) </h1> 

            
        </div>
    </section>
</div>
<div class="container">
    <section id="main">
     <div class="col-md-6 col-sm-12">
            
            <p> Phone:0723456789</p>
            <p> Email:devpro@gmail.com </p>
            <p> Instagram: @devpro_inc</p>
            <p> Facebook:DevPro Incorporated</p>
            <p> Twitter:DevPro_inc</p>
     
    

       <button type="button"  class="btn btn-primary btn-lg" data-dismiss="modal"data-toggle="modal" data-target="#message" >Message Us</button>
     </div>
    
    <div class="modal fade" id="message" role="dialog">
        <div class="modal-dialog modal-lg">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              
              <h4 class="modal-title">MESSAGE US.</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- creating an stock form -->
                <div id="contact">
                    <div class="section-content">
                        <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
                        <h3>Shoot us a message and our people will be in touch soon ;)</h3>
                    </div>
                    <div class="contact-section">
                    <div class="container">
                        <form>
                            <div class="col-md-8 ">
                                  <div class="form-group">
                                      <label for="exampleInputUsername">Your name</label>
                                    <input type="text" class="form-control" id="" placeholder=" Enter Name">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputEmail">Email Address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
                                  </div>	
                                  <div class="form-group">
                                    <label for="telephone">Mobile No.</label>
                                    <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
                                  </div>
                              <!-- </div>
                              <div class="col-md-6"> -->
                                  <div class="form-group">
                                      <label for ="description"> Message</label>
                                       <textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                                  </div>
                                  <div>
                
                                      <button type="button" class="btn btn-warning submit"> Send Message</button>
                                  </div>
                                  
                            </div>
                        </form>
                    </div>
                  </div>
                  
            </div>
            
          </div>
          
        </div>
      </div>
    </section>

        <aside id="sidebar">
          <div class="col-md-6 col-sm-12"> 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.81495996834!2d36.82201161499149!3d-1.2849867359877725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11d9c727b643%3A0xfe5775e56073fb67!2sTechCamp%20Kenya!5e0!3m2!1sen!2sau!4v1584102950396!5m2!1sen!2sau" width="400" height="250" frameborder="0" text-align="centre"style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>    

        </aside>

        <!-- <p style="color:black; font-size:20px; font-style:italic; font-family:Georgia, 'Times New Roman', Times, serif ">Find us at :</p>
            -->
</div>





{% endblock %}

{% block scripts %}

{% endblock %}