
{% extends 'base.html' %} 

{% block title %} HOME {% endblock %} 

{% block links %}

<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/home.css">

{% endblock %}



{% block content %}

	<div class="jumbotron jumbotron-fluid">
		<section id="showcase">
			<div class="container" style="color: black;">
				
				<h1>Sales and Inventory Management,</h1>
				<h1>for you and your clients
				</h1> 
			</div>
		</section>
	</div>
	
	<!-- <div class="container">
		<section id="main">
			<h1>Welcome</h1>
			<p> Our company strives to provide the best for all your business needs.
				<p>We offer:</p>
				<ul>
					<li>Inventory Management</li>
					<li>Inventory Change Tracking</li>
					<li>Automatic Updates</li>
					<li>Sales Management</li>
					
				</ul>
		
			</p>
		</section> -->

{% endblock %}




{% block scripts %}
{% endblock %}