{% extends 'base.html' %} 
{% block title %}Home{% endblock %} 

{% block links %}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block content %}

<h1>Hello Misky</h1>
<br>
<hr>
<!-- Don't forget the "|safe"! -->
<!-- class="d-flex justify-content-center"> -->

<div id="chart1">
<embed type="image/svg+xml" src= {{ pie_chart|safe }} style="width: 50%;;"/>
</div>
<div id="chart2">
<embed type="image/svg+xml" src= {{ line_chart|safe }} style="width: 50%;" />
</div>
     

{% endblock %} 

{% block scripts %}{% endblock %}
