
{% extends 'base.html' %} 

{% block title %} Prices {% endblock %} 

{% block links %}
<style>
#price{
  padding-bottom: 40px;
}
  
  
</style>
{% endblock %}



{% block content %}
<div id="price">
  <h3 style="text-align: center; color:black; font:size 30;"> Our Pricing is suited for all your business needs, whether you're a young grasshopper or are a fully fledged legend ;). Check out our rates and choose what is most suitable for your business</h3>
</div>
<table class="table table-borderless table-striped thead-dark">
      <thead >
        <tr>
          <th scope="col">Option</th>
          <th scope="col">Database Size</th>
          <th scope="col">Approximate Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
</table>
{% endblock %}




{% block scripts %}


{% endblock %}